{{!< default}}

<main id="main">
    <section class="p-outer">
        <div class="p-inner p-hero">
            <div class="p-hero-left">
                <div>
                    <h1>Welcome!</h1>
                    <p>Hi!👋 I'm <strong>Orlando</strong> and you've landed on my personal website.</p>
                    <p>Here you'll find a few things about who I am and what I do.</p>
                    <p>I may also write some blog posts here and there if there's something I want to speak about.</p>
                    <p>If you want, you can <a href="mailto:contact@oleombruni.me">drop me an email</a>.</p>
                </div>
            </div>
            <div class="p-hero-right">
                <img src="{{img_url @site.cover_image size="l"}}" alt="Home image" />
            </div>
        </div>
    </section>
    <section class="p-outer">
        <div class="p-inner">
            <h2>Latest posts</h2>
            <div class="p-posts-grid">
                {{#get "posts" limit="all"}}
                    {{#match posts.length "=" 0}}
                        <p><em>Nothing here! </em>...for now 🧐</p>
                    {{else}}
                        {{#foreach posts}}
                            <article class="p-post-card">
                                <img src="{{img_url feature_image size="m"}}" alt="{{feature_image_alt}}" />
                                <h3><a href="{{url}}">{{title}}</a></h3>
                            </article>
                        {{/foreach}}
                    {{/match}}
                {{/get}}
            </div>
        </div>
    </section>
</main>